body {
    background-image: url(https://cdn-media-1.freecodecamp.org/images/1*oIC7jzfYZde2T_Oo6DpI2Q.png);
    background-size: cover;
}
img {
    width: 360px;
    height: 300px;
    margin-left: 40%;
    line-height: underline;
    margin-top: 0px
    
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    padding: 14px 20px;
    
}
h3 {
    margin-left: 50%; 
    margin-top: -43px;
       
}
p {
    margin-top: -10px;
    margin-left: 600%;
}
div.a {
    margin-left: 1250px; 
    margin-top: -22px;
}

div.photo3 {
    margin-right: 95%;
}
div#buto3 {
    margin-left: 200px; 
    margin-top: 2px;
}
div.photo4 {
    margin-left: 50%;
    margin-top: -325px;
}
div#buto4 {
    margin-left: 1250px; 
    margin-top: 2px;
}