body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/1015682305/thumb/7.jpg);
    background-size: cover;
    
}
img {
    width: 360px;
    height: 300px;
    margin-left: 40%;
    line-height: underline
}
h1 {
    margin-left: 39%;
    padding: 10px 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 0px;
    margin-top: 30px
}
form {
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  opacity: 0.9;
  box-sizing: border-box
}
button {
    
    padding: 14px 20px;
}

