body {
    background-image: url(https://cdn-media-1.freecodecamp.org/images/1*oIC7jzfYZde2T_Oo6DpI2Q.png);
    background-size: cover;
    
}
img {
    width: 360px;
    height: 300px;
    margin-left: 40%;
    line-height: underline
}


    #bo1 {
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #000f0a;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      margin-left:41%;
      margin-top: 90px;
    }
   #bo1:hover {
        background-color: #405d58}
        #bo3 {
          padding: 15px 25px;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          outline: none;
          color: #fff;
          background-color: #000f0a;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
          margin-left:41%;
          margin-top: 90px;
        }
        #bo3: :hover{
          background-color: #405d58}
        
            
    
  
 #bo2:hover {
      background-color: #3e8e41}
      #bo2:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      #bo2 {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #000f0a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-left: 4%;
        position: absolute;
        top: 54%;
      }
      #bo2:hover {
          background-color: #3e8e41}

          #in1 {
            margin-left: 40%;
            position: relative;
            top: 54px;   
        width: 300px;
    height: 20px;     }
          
            #in2 {
                margin-left: 40%;
                position: relative;
                top: 50px;    
                width: 300px;
                height: 20px;    }
                #in3 {
                    margin-left: 40%;
                    position: relative;
                    top: 55px;    
                    width: 300px;
                    height: 20px;    }
                    #in4 {
                        margin-left: 39.9%;
                        position: relative;
                        top: 55px;    
                        width: 300px;
                        height: 20px;    }
                        
                    
               label {
                display: flex;
    margin-top: 26px;
    margin-left: 443px;
    font-size: 18px;
              }
              #bo4 {
                padding: 15px 25px;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #000f0a;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin-left:6%;
                margin-top: 90px;
              }
              #bo4: :hover{
                background-color: #405d58}
                .bo5 {
                  padding: 15px 25px;
                  font-size: 24px;
                  text-align: center;
                  cursor: pointer;
                  outline: none;
                  color: #fff;
                  background-color: #000f0a;
                  border: none;
                  border-radius: 15px;
                  box-shadow: 0 9px #999;
                  margin-left:-40%;
                  margin-top: 7%;
                  position: relative;
                        top: 1;
                }
                .bo5: :hover{
                  background-color: #405d58}
              