body {
    background-image: url(https://cdn-media-1.freecodecamp.org/images/1*oIC7jzfYZde2T_Oo6DpI2Q.png);
    background-size: cover;
}
img {
    width: 360px;
    height: 300px;
    margin-left: 40%;
    line-height: underline
}

div.Log {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(14, 11, 11);
    border: none;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVRw9eVC419WvjnP9_zAQklz8vvX50-7VgwaQj89pH-S9SReGj&s);
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 27%;
    position: absolute;
    top: 54%;
  
}
button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000f0a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left:4%;
    margin-top: 33px;
}
button active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
input {
    font-size: large;
}
